<footer class="app-footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="company-info">
        <h3>Natan Construtora</h3>
        <p>{{ translate('footer.tagline') }}</p>
      </div>
      
      <div class="footer-links">
        <div class="link-group">
          <h4>{{ translate('footer.services') }}</h4>
          <ul>
            <li><a href="#">{{ translate('services.electrical') }}</a></li>
            <li><a href="#">{{ translate('services.plumbing') }}</a></li>
            <li><a href="#">{{ translate('services.construction') }}</a></li>
            <li><a href="#">{{ translate('services.renovation') }}</a></li>
          </ul>
        </div>
        
        <div class="link-group">
          <h4>{{ translate('footer.company') }}</h4>
          <ul>
            <li><a href="#">{{ translate('footer.about') }}</a></li>
            <li><a href="#">{{ translate('footer.contact') }}</a></li>
            <li><a href="#">{{ translate('footer.privacy') }}</a></li>
            <li><a href="#">{{ translate('footer.terms') }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Natan Construtora. {{ translate('footer.rights') }}</p>
    </div>
  </div>
</footer>